section video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;  
    z-index: -2;
}
.content {
    position: absolute;
    mix-blend-mode: multiply;
    background: rgba(0, 0, 0);
    color: #fff;
    top: 0;
    left: 0;
}
h1{
    position: relative;
    margin: 0;
    padding-bottom: 80vh;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 7vw;
    color: #fff;
    font-weight: 700;
}
span {
    font-size: 4vw;
    height: 1em;
    display: inline-block;
    background-color: #fff;
}
h1 .pause1 {
    width: 6em;
}
h1 .pause2 {
    width: 5.250vw;
}
h1 .pause3 {
    width: 12.250vw;
}
h1 .pause4 {
    width: 30.250vw;
}
@media (max-width: 1024px) {
    h1{
        font-size: 5vh;
    }
}